@model IEnumerable<TunisiaMall.Domain.Entities.comment>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.commentDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.text)
        </th>
        <th>User</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.commentDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.text)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.user.login)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", "Comment", new { id = item.idComment }, null) |
            @Html.ActionLink("Delete", "Delete", "Comment" , new { id=item.idComment }, null)
        </td>
    </tr>
}

</table>
